@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Quicksand:wght@300..700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Quicksand", "Inter" , sans-serif;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(170, 170, 201);
}
  
.container {
  position: relative;
  width: 1440px;
  height: 1024px;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: space-between;
  border-radius: 24px;
}

.container-main {
  position: static;
  width: 1228px;
  height: 1024px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
  
.wrapper-sidebar {
  width: 212px;
  height: 1024;
}
  
.sidebar {
  position: static;
  width: 100%;
  height: 100%;
  border-right-width: 1px;
  border-right: 1px solid var(--black-10, rgba(28, 28, 28, 0.1));
  padding: 20px 16px;
  gap: 16px;
  display: flex;
  flex-direction: column;
  opacity: 1;
}

.user-section {
  display: flex;
  width: 180px;
  height: 32px;
  border-radius: 8px;
  padding: 4px;
  gap: 8px;
}


.user-section .user-information {
  width: 172px;
  height: 24px;
  border-radius: 8px;
  gap: 8px;
  display: flex;
  align-items: center;
}

.user-information .profile {
  width: 24px;
  height: 24px;
  border-radius: 8px;
}

.user-information .profile svg {
  border-radius: 80px;
}

.user-information .name {
  width: 58px;
  height: 20px;
  border-radius: 8;
  color: rgba(28, 28, 28, 1);
}

.user-information .name .text {
  width: 58px;
  height: 20px;
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
  color: rgba(28, 28, 28, 1);
}

.quick-access {
  width: 180px;
  height: 104px;
  padding-bottom: 12px;
  gap: 4px;
  display: flex;
  flex-direction: column;
}

.quick-access .buttons {
  width: 180px;
  height: 28px;
  border-radius: 8px;
  gap: 8px;
  display: flex;
}

.quick-access .buttons .shared-class-buttons {
  width: 74px;
  height: 28px;
  border-radius: 8px;
  padding: 4px 8px;
  gap: 4px;
  display: flex;
}

.shared-class-buttons button {
  width: 62px;
  height: 20px;
  border-radius: 8px;
}

.shared-class-buttons button p {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
  text-align: center;
  vertical-align: middle;
  color: rgba(28, 28, 28, 0.4);
  display: flex;
}

.quick-access .li-wrapper {
  width: 180px;
  height: 28px;
  border-radius: 8px;
  padding: 4px 8px;
  gap: 8px;
  display: flex;
  align-items: center;
}

.quick-access .li-wrapper svg {
  border-radius: 8px;
}

.quick-access .li-wrapper span {
  width: 63px;
  height: 20px;
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
  color: rgba(28, 28, 28, 1);
}

.shared-between-ul {
  width: 180px;
  height: 168px;
  padding-bottom: 12px;
  gap: 4px;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.shared-between-ul .title {
  width: 180px;
  height: 28px;
  border-radius: 8px;
  padding: 4px 12px;
}

.shared-between-ul .title p {
  width: 156px;
  height: 20px;
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
  color: rgba(28, 28, 28, 0.4);
}

.shared-between-ul .item {
  width: 180px;
  height: 28px;
  border-radius: 8px;
  padding: 4px 8px 4px 0;
  gap: 4px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  &:hover {
    background-color: rgba(28, 28, 28, 0.05);
  }
}

.item .icon-set {
  width: 24px;
  height: 20px;
  border-radius: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.icon-set .icon-hover,
.icon-set .icon-arrow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 4px 0px 4px 0;
}

.icon-set .icon-hover {
  opacity: 0;
  pointer-events: none;
}

.icon-set .icon-arrow {
  opacity: 1;
  justify-content: end;
}

.item:hover .icon-set .icon-hover {
  opacity: 1;
  pointer-events: auto;
}

.item:hover .icon-set .icon-arrow {
  opacity: 0;
}

.shared-between-ul .item .item-text-wrapper {
  width: 144px;
  height: 20px;
  border-radius: 8px;
  gap: 4px;
  display: flex;
  align-items: center;
}

.item-text-wrapper .item-text {
  min-width: auto;
  height: 20px;
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
  color: rgba(28, 28, 28, 1);
  display: flex;
}

.pages {
  width: 180px;
  height: 360px;
}

.logo {
  width: 180px;
  height: 36px;
  border-radius: 8px;
  padding: 8px;
  margin-top: 236px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* main header */

.header {
  position: static;
  width: 1228px;
  height: 68px;
  display: flex;
  justify-content: space-between;
    left: 212px;
      padding: 20px 28px;
    border-bottom: 1px solid rgba(28, 28, 28, 0.1);
}

.left-header {
  width: 256px;
  height: 28px;
  display: flex;
  gap: 8px;
}

.left-header .menu-btn {
  width: 64px;
  height: 28px;
  display: flex;
  gap: 8px;
  border-radius: 8px;
  justify-content: space-between;
  align-items: center;
}

.left-header .menu-btn button {
  width: 28px;
  height: 28px;
}

.left-header .mode-selection {
  width: 184px;
  height: 28px;
  border-radius: 8px;
  gap: 8px;
  display: flex;
  align-items: center;
}

.left-header .mode-selection button {
  width: 98px;
  height: 28px;
  padding: 4px 8px;
  gap: 4px;
  display: flex;
}

.left-header .mode-selection button span {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
  text-align: center;
  vertical-align: middle;
  color: rgba(28, 28, 28, 0.4);
}

.right-header {
  width: 316px;
  height: 28px;
  gap: 20px;
  display: flex;
}

.right-header .buttons-holder {
  width: 136px;
  height: 28px;
  border-radius: 8px;
  gap: 8px;
  display: flex;
}

.right-header .buttons-holder button {
  width: 28px;
  height: 28px;
  border-radius: 8px;
  padding: 4px;
  gap: 4px;
  display: flex;
}

.search-section {
  width: 160px;
  height: 28px;
  padding: 4px 8px;
  gap: 8px;
  display: flex;
  border-radius: 8px;
  background-color: rgba(28, 28, 28, 0.05);
}

.search-section .search-input {
  width: 116px;
  height: 20px;
  border-radius: 8px;
  gap: 4px;
  display: flex;
  align-items: center;
}

.search-section .search-input input {
  width: 96px;
  height: 20px;
  border: none;
  outline: none;
  background-color: transparent;
}

/*start main,table */

.title-order-list {
  position: absolute;
  width: 83px;
  height: 28px;
  top: 96px;
  left: 240px;
  border-radius: 8px;
  padding: 4px 8px;
  display: flex;
}

.title-order-list p {
  font-family: Inter;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
}

.main {
  position: absolute;
  width: 1172px;
  height: 536px;
  top: 140px;
  left: 240px;
  gap: 12px;
  display: flex;
  flex-direction: column;
}

.nav {
  width: 1172px;
  height: 44px;
  border-radius: 8px;
  padding: 8px;
  gap: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(247, 249, 251, 1);
}

.right-nav {
  background-color: white;
}

.left-nav {
  width: 980px;
  height: 28px;
  border-radius: 8px;
  gap: 8px;
  display: flex;
  align-items: center;
}

.left-nav button {
  width: 28px;
  height: 28px;
  border-radius: 8px;
  gap: 4px;
  display: flex;
}

/* table */

.table {
  width: 1172px;
  height: 536px;
}

.table thead .tr-row {
  display: flex;
  align-items: start;
  border-bottom: 1px solid rgba(28, 28, 28, 0.2);
}
  
.table tbody .tr-row {
  display: flex;
  justify-content: start;
  align-items: center;
  border-bottom: 1px solid rgba(28, 28, 28, 0.2);
  &:hover {
    background-color: rgba(247, 249, 251, 1);
  }
}

.table .tr-row .mode {
  width: 24px;
  height: 40px;
  min-height: 40px;
  padding: 8px 0 8px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.table .tr-row .mode-subset {
  width: 24px;
  height: 40px;
  min-height: 40px;
  padding: 8px 0 8px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.table .tr-row .order-id {
  width: 100px;
  height: 40px;
  min-height: 40px;
  padding: 8px 12px;
  gap: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.table .tr-row .order-id-subset {
  width: 100px;
  height: 40px;
  min-height: 40px;
  min-width: 80px;
  max-width: 220px;
  padding: 8px 12px;
  border-radius: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.table .tr-row .user {
  width: 214.5px;
  height: 40px;
  min-width: 80px;
  max-width: 220px;
  min-height: 40px;
  padding: 8px 12px;
  gap: 4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.table .tr-row .user-subset {
  width: 214.5px;
  height: 40px;
  min-width: 80px;
  max-width: 220px;
  min-height: 40px;
  padding: 8px 12px;
  gap: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.table .tr-row .project {
  width: 214.5px;
  height: 40px;
  min-width: 80px;
  max-width: 220px;
  min-height: 40px;
  padding: 8px 12px;
  gap: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.table .tr-row .project-subset {
  width: 214.5px;
  height: 40px;
  min-width: 80px;
  max-width: 220px;
  min-height: 40px;
  padding: 8px 12px;
  gap: 4px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.table .tr-row .address {
  width: 270px;
  height: 40px;
  min-width: 80px;
  max-width: 220px;
  min-height: 40px;
  padding: 8px 12px;
  gap: 4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.table .tr-row .address-subset {
  width: 270px;
  height: 40px;
  min-width: 80px;
  max-width: 220px;
  min-height: 40px;
  padding: 8px 12px;
  gap: 4px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.table .tr-row .date {
  width: 191px;
  height: 40px;
  min-width: 80px;
  max-width: 220px;
  min-height: 40px;
  padding: 8px 12px;
  gap: 4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.table .tr-row .date-subset {
  width: 191px;
  height: 40px;
  min-width: 80px;
  max-width: 220px;
  min-height: 40px;
  padding: 8px 12px;
  gap: 4px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.table .tr-row .status {
  width: 110px;
  height: 40px;
  min-width: 80px;
  max-width: 220px;
  min-height: 40px;
  padding: 8px 12px;
  gap: 4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.table .tr-row .status-subset {
  width: 150px;
  height: 40px;
  min-width: 80px;
  max-width: 220px;
  min-height: 40px;
  padding: 8px 12px;
  gap: 4px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.table .tr-row .more {
  width: 48px;
  height: 40px;
  min-height: 40px;
  padding: 8px 12px;
  gap: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.table .tr-row .more-subset {
  width: 48px;
  height: 40px;
  min-height: 40px;
  padding: 8px 12px;
  gap: 8px;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
}

.sizing {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0;
  color: rgba(28, 28, 28, 0.4);
}

.sizing-subset {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0;
  color: rgba(28, 28, 28, 1);
}

.subset {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.wrapper-list-counter {
  width: 100%;
  height: 28px;
  display: flex;
  justify-content: end;
  padding: 0 12px;
}

.list-counter {
  width: 224px;
  height: 28px;
  border-radius: 8px;
  gap: 8px;
  display: flex;
  align-items: end;
}

.wrapper-list-counter .list-counter button:hover {
  background-color: rgba(28, 28, 28, 0.05);
  cursor: pointer;
  border-radius: 8px;
}

/* footer */

.footer {
  position: absolute;
  width: 1228px;
  height: 58px;
  top: 966px;
  left: 212px;
  display: flex;
  justify-content: space-between;
  padding: 20px 28px;
  align-items: center;
}

.right-footer {
  width: 178px;
  height: 18px;
  border-radius: 8px;
  gap: 16px;
  display: flex;
  align-items: center;
}

button {
  border: none;
  background: none;
}

/* location-icon and more-icon hovering */

.location-icon,
.more-icon {
  display: none;
}

.table tbody .row:hover .location-icon {
  display: block;
}

.table tbody .row:hover .more-icon {
  display: block;
} 

/* set active or not active checkbox for user */

.table tbody .icon-empty,
.table tbody .icon-anable {
  display: none;
}

.row[data-active="true"] .icon-anable {
  display: block;
}

.row[data-active="false"]:hover .icon-empty {
  display: block;
}

.table tbody .mode-subset:hover {
  cursor: pointer;
  user-select: none;
}

/* set active or not active checkbox for col */

.table thead .mode:hover {
  cursor: pointer;
  user-select: none;
}
 
.table thead .tr-row .mode[data-is-active="true"] .icon-anable {
display: block;
}

.table thead .tr-row .mode[data-is-active="true"] .icon-empty {
  display: none;
}

.table thead .tr-row .mode[data-is-active="false"] .icon-anable {
  display: none;
}

.table thead .tr-row .mode[data-is-active="false"] .icon-empty {
  display: block;
}